.additional-catalog {
  padding-top: 25px;

  overflow-x: hidden;
}

.additional-catalog__title {
  position: relative;

  margin: 0;
  margin-bottom: 35px;

  font-family: $fontHeader;
  font-size: 24px;
  line-height: 24px;
  color: $colorTextDark;

  &::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 247px;

    width: 3000px;
    height: 3px;

    background-color: $colorAccent;
  }
}

.additional-catalog__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.additional-catalog__item {
  padding-top: 13px;
  padding-bottom: 16px;

  border-top: 1px solid #cdcdcd;
}

.additional-catalog__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional-catalog__name {
  margin: 0;
  margin-bottom: 15px;

  font-family: $fontHeader;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.additional-catalog__features {
  display: flex;
  justify-content: space-between;
  margin: 0;

  font-family: $fontText;
  font-size: 14px;
  line-height: 14px;
  color: $colorTextLight;
}

.additional-catalog__field {
  width: 140px;
}

.additional-catalog__value {
  width: 140px;

  text-align: right;
}

.additional-catalog__button {
  margin-top: 12px;
  width: 100%;
}

.additional-catalog__gift {
  width: 280px;
}

@media (min-width: $tabletWidth) {
  .additional-catalog__title {
    margin-bottom: 80px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";

      position: absolute;
      top: 20px;
      right: 710px;

      width: 3000px;
      height: 3px;

      background-color: $colorAccent;
    }

    &::after {
      top: 20px;
      left: 411px;
    }
  }

  .additional-catalog__list {
    margin-bottom: 70px;
  }

  .additional-catalog__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-bottom: 27px;
    padding-left: 40px;
    padding-right: 40px;

    border: 1px solid #cdcdcd;
  }

  .additional-catalog__name {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-catalog__features {
    width: 224px;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-catalog__field {
    text-align: right;
  }

  .additional-catalog__value {
    width: 55px;
  }

  .additional-catalog__button {
    margin-top: 22px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-catalog__gift {
    width: 708px;
  }
}

@media (min-width: $desktopWidth) {
  .additional-catalog__title {
    margin-bottom: 80px;
    padding-left: 0;

    &::before {
      top: 23px;
      right: 1260px;
    }

    &::after {
      top: 23px;
      left: 373px;
    }
  }

  .additional-catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-catalog__list {
    margin-bottom: 0;
    width: 895px;
  }

  .additional-catalog__item {
    display: flex;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;

    border-right: none;
    border-left: none;
  }

  .additional-catalog__name {
    width: 285px;
  }

  .additional-catalog__features {
    margin-left: 40px;
    width: 285px;
  }

  .additional-catalog__field {
    text-align: left;
  }

  .additional-catalog__button {
    margin-top: 0;
    margin-left: auto;
    width: 245px;
  }

  .additional-catalog__gift {
    margin-bottom: 0;
    width: 245px;
  }
}
