.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $fontHeader;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: $colorTextDark;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  font-family: $fontText;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $colorTextLight;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $colorAccent;
    background-repeat: no-repeat;
    background-position: 5px 5px;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  &--clock br {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tabletWidth) {
  .advantages {
    padding-bottom: 100px;

    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    margin-bottom: 70px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    counter-reset: item_number;
  }

  .advantages__item {
    margin-bottom: 130px;
    margin-right: 25px;
    padding-left: 0;
    padding-top: 115px;
    padding-right: 55px;
    width: 300px;

    font-size: 16px;
    line-height: 24px;

    counter-increment: item_number;

    &::before {
      width: 80px;
      height: 80px;

      background-position: 15px 15px;
    }

    &::after {
      content: counter(item_number);

      position: absolute;
      top: -40px;
      right: 75px;
      z-index: -1;

      width: 112px;
      height: 232px;

      font-family: $fontHeader;
      font-weight: normal;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }

    &--clock br {
      display: inline;
    }
  }
}

@media (min-width: $desktopWidth) {
  .advantages {
    padding-bottom: 0;

    border: none;
  }

  .advantages__item {
    margin-bottom: 0;
    padding-top: 110px;
    padding-right: 0;
    width: 245px;

    &::after {
      right: 25px;
    }
  }
}
