.contacts {
  background-color: $colorBackground;
}

.contacts--white {
  background-color: #ffffff;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 280px;
}

.contacts__slogan {
  width: 140px;

  font-family: $fontHeader;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.contacts__text {
  margin: 0;
  width: 140px;

  font-family: $fontText;
  font-size: 14px;
  line-height: 20px;
  color: $colorTextLight;
}

.contacts__map {
  width: 320px;
  height: 362px;

  background-image: url("../../img/map.png");
  background-repeat: no-repeat;
  background-position: center -38px;
  background-size: cover;
}

@media (min-width: $tabletWidth) {
  .contacts__wrapper {
    padding-top: 65px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    width: 708px;
  }

  .contacts__slogan {
    width: 194px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    width: 155px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__city {
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
  }

  .contacts__map {
    height: 394px;
  }
}

@media (min-width: $desktopWidth) {
  .contacts {
    position: relative;

    padding-top: 95px;
    min-height: 400px;
  }

  .contacts__wrapper {
    position: relative;
    z-index: 1;

    margin: 0;
    padding-top: 60px;
    padding-left: 76px;
    padding-right: 76px;
    width: 570px;

    background-color: #ffffff;
  }

  .contacts__slogan {
    width: 156px;
  }

  .contacts__text {
    width: 168px;

    text-align: left;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
