.example {
  color: $colorTextLight;

  background-color: $colorBackground;
}

.example__container {
  padding-top: 20px;
  padding-bottom: 35px;
}

.example__title {
  margin: 0;
  margin-bottom: 22px;

  font-family: $fontHeader;
  font-size: 36px;
  line-height: 60px;
  color: $colorTextDark;
}

.example__info {
  margin: 0 auto;
  width: 280px;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  width: 279px;

  font-family: $fontText;
  font-size: 14px;
  line-height: 18px;
  color: $colorTextLight;
}

.example__wrapper {
  margin-bottom: 35px;
}

.example__features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.example__features-item {
  position: relative;

  padding-top: 14px;
  padding-bottom: 14px;
  width: 124px;

  text-align: center;

  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

.example__value {
  font-family: $fontHeader;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.example__field {
  position: absolute;
  left: 17px;
  top: 46px;

  padding-left: 15px;
  padding-right: 15px;

  font-family: $fontText;
  font-size: 12px;
  line-height: 12px;
  color: $colorTextLight;

  background-color: $colorBackground;
}

.example__cost {
  display: block;

  font-family: $fontHeader;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $colorTextDark;
}

.example__image {
  display: none;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 320px;
  height: 240px;

  &--active {
    display: block;
  }
}

.example__control {
  margin: 0 auto;
  width: 280px;

  text-align: center;
}

.example__button {
  font-family: $fontHeader;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorTextDark;

  background-color: transparent;

  border: none;
}

.example__range {
  display: none;
}

@media (max-width: $mobileWidthOnly) {
  .example__button {
    position: relative;

    &--fat {
      margin-right: 100px;

      &::after {
        content: "";

        position: absolute;
        top: 8px;
        left: 71px;
        z-index: 1;

        display: none;
        width: 35px;
        height: 6px;

        background-color: $colorAccent;

        border-radius: 10px;
      }
    }

    &--slim {
      position: relative;

      &::before {
        content: "";

        position: absolute;
        top: 4px;
        left: -91px;

        width: 84px;
        height: 14px;

        background-color: #ffffff;

        border: 1px solid #cdcdcd;
        border-radius: 10px;
      }

      &::after {
        content: "";

        position: absolute;
        top: 8px;
        left: -47px;

        display: none;
        width: 35px;
        height: 6px;

        background-color: $colorAccent;

        border-radius: 10px;
      }
    }

    &--active::after {
      display: block;
    }
  }
}

@media (min-width: $tabletWidth) {
  .example {
    background-color: #ffffff;
  }

  .example__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .example__title {
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    margin-bottom: 55px;
    width: 100%;

    font-size: 16px;
    line-height: 24px;
  }

  .example__info {
    width: 708px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  .example__features-list {
    margin-bottom: 0;
    width: 365px;
  }

  .example__features-item {
    padding-top: 16px;
    padding-bottom: 17px;
    width: 162px;

    &:first-child .example__field {
      left: 26px;
    }
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__field {
    top: 62px;
    left: 13px;

    padding-left: 5px;
    padding-right: 5px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  .example__field br {
    display: none;
  }

  .example__cost {
    padding-top: 10px;

    width: 192px;

    font-size: 20px;
    line-height: 27px;
    text-align: right;
  }

  .example__slider {
    padding-bottom: 65px;
    min-height: 650px;

    background-image: linear-gradient(180deg, transparent, transparent 190px, $colorBackground 190px, $colorBackground);
  }

  .example__image {
    margin-bottom: 10px;
    min-height: 545px;
    width: 690px;
    height: 517px;
  }

  .example__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 586px;
  }

  .example__button {
    position: relative;

    font-size: 20px;
    line-height: 20px;

    &::after {
      content: "";

      position: absolute;
      top: 26px;

      height: 1px;

      border-bottom: 1px dotted #b8b8b8;
    }

    &:hover::after,
    &:focus::after {
      border-bottom: 1px solid #989898;
    }

    &:active::after {
      display: none;
    }

    &--fat::after {
      left: 7px;

      width: 47px;
    }

    &--slim::after {
      left: 8px;

      width: 49px;
    }
  }

  .example__range {
    position: relative;

    display: inline-block;
    width: 430px;
    height: 6px;

    background-color: #dcdcdc;

    border-radius: 2px;
  }

  .example__pointer {
    position: absolute;
    top: -14px;
    left: 200px;
    z-index: 1;

    width: 34px;
    height: 34px;

    background-color: #ffffff;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    &::after {
      content: "";

      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 2;

      width: 8px;
      height: 8px;

      background-color: $colorAccent;

      border-radius: 50%;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $colorAccent;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);

      &::after {
        top: 11px;
        left: 11px;
      }
    }
  }
}

@media (min-width: $desktopWidth) {
  .example {
    background-image: linear-gradient(180deg, transparent, transparent 190px, $colorBackground 190px, $colorBackground);
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 75px;
    width: 1220px;
  }

  .example__title {
    margin-bottom: 145px;
    padding-top: 55px;
  }

  .example__info {
    margin: 0;
    width: 435px;
  }

  .example__wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .example__features-list {
    margin-bottom: 45px;
  }

  .example__description {
    margin-bottom: 70px;
    width: 435px;
  }

  .example__field {
    background-color: #f2f2f2;
  }

  .example__cost {
    display: flex;
    justify-content: space-between;
    width: 325px;

    text-align: left;
  }

  .example__slider {
    position: relative;

    padding-bottom: 0;
    width: 667px;
    min-height: 580px;

    &::after {
      content: "";

      position: absolute;
      left: 382px;
      right: calc(0px - ((100vw - 1220px) / 2));
      top: 0;
      bottom: -75px;
      z-index: 1;

      background-image: linear-gradient(180deg, transparent, transparent 190px, #eaeaea 190px, #eaeaea);
    }
  }

  .example__slide {
    padding-top: 557px;
    width: 100%;
  }

  .example__image {
    margin-left: 20px;
    min-height: 515px;

    &--fat {
      position: absolute;
      top: 0;
      z-index: 3;

      clip: rect(auto 362px auto auto);
    }

    &--slim {
      position: absolute;
      top: 0;
      left: 12px;
      z-index: 2;

      clip: rect(auto auto auto 350px);

      display: inline-block;
    }
  }

  .example__control {
    position: relative;
    z-index: 2;

    margin-left: 90px;
  }
}
