.gift {
  position: relative;

  padding-top: 190px;
  padding-bottom: 50px;
  min-height: 290px;

  color: #ffffff;

  background-color: $colorAccent;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;

  svg {
    position: absolute;
    top: 65px;
    left: 113px;
    z-index: 1;

    width: 55px;
    height: 60px;

    fill: #ffffff;
  }
}

.gift__title {
  margin: 0 auto;
  width: 164px;

  text-align: center;
  font-family: $fontText;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: $tabletWidth) {
  .gift {
    padding-top: 75px;
    padding-left: 424px;
    min-height: 200px;

    background-image: none;

    svg {
      left: 91px;
    }
  }

  .gift__title {
    margin: 0;

    text-align: left;
  }
}

@media (min-width: $desktopWidth) {
  .gift {
    padding-left: 42px;
    padding-top: 193px;
    min-height: 286px;
  }

  .gift__title {
    text-align: center;
  }
}

