.main-catalog {
  padding-top: 30px;
}

.main-catalog__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $fontHeader;
  font-size: 36px;
  line-height: 60px;
  color: $colorTextDark;
}

.main-catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-catalog__item {
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid #ededed;
}

.main-catalog__item:last-child {
  border-bottom: 1px solid #ededed;
}

.main-catalog__name {
  margin: 0;
  margin-bottom: 15px;

  font-family: $fontHeader;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.main-catalog__features {
  font-family: $fontText;
  font-size: 12px;
  line-height: 16px;
  color: $colorTextLight;
}

.main-catalog__order {
  margin-top: 20px;
}

@media (min-width: $tabletWidth) {
  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-catalog__item {
    margin-right: 60px;
    width: 324px;

    border: none;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      border-top: 1px solid #ededed;
    }
  }
}

@media (min-width: $desktopWidth) {
  .main-catalog__item {
    margin-right: 80px;
    width: 245px;

    &:nth-child(even) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

}
