.main-catalog {
  padding-top: 15px;

  border-top: 1px solid #e6e6e6;
}

.main-catalog__title {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 280px;

  font-family: $fontHeader;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: $colorTextDark;
}

.main-catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-catalog__item {
  padding-bottom: 19px;

  border-top: 1px solid #ededed;

  &:last-child {
    position: relative;

    border-bottom: 1px solid #ededed;
  }
}

.main-catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3px;
  width: 280px;
}

.main-catalog__name {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80px;

  font-family: $fontHeader;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.main-catalog__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 140px;

  list-style: none;

  font-family: $fontText;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $colorTextLight;
}

.main-catalog__field {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
}

.main-catalog__value {
  display: inline-block;
  vertical-align: middle;
  width: 85px;

  text-align: right;
}

.main-catalog__image {
  order: -1;
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 144px;
}

.main-catalog__button {
  display: block;
  width: 280px;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tabletWidth) {
  .main-catalog {
    padding-top: 30px;

    border-top: none;
  }

  .main-catalog__title {
    margin: 0 auto;
    margin-bottom: 87px;
    width: 708px;

    font-size: 60px;
    line-height: 60px;
  }

  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 708px;
  }

  .main-catalog__item {
    margin-bottom: 60px;
    margin-right: 60px;
    padding-bottom: 40px;
    width: 324px;

    background-image: linear-gradient(180deg, transparent, transparent 80px, $colorBackground 80px, $colorBackground);

    border: none;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-top: 80px;

      border: 1px solid #ededed;
    }
  }

  .main-catalog__wrapper {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }

  .main-catalog__name {
    margin: 0 auto;
    margin-bottom: 17px;
    width: 130px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .main-catalog__features {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 250px;

    font-size: 16px;
    line-height: 16px;
  }

  .main-catalog__feature {
    padding-top: 7px;
    padding-bottom: 7px;

    border-bottom: 1px solid #cdcdcd;
  }

  .main-catalog__field {
    width: 95px;
  }

  .main-catalog__value {
    width: 155px;

    text-align: right;
  }

  .main-catalog__image {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 324px;
    height: 208px;
  }

  .main-catalog__button {
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 250px;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktopWidth) {
  .main-catalog {
    padding-top: 70px;
  }

  .main-catalog__title {
    width: 1220px;
  }

  .main-catalog__list {
    width: 1220px;
  }

  .main-catalog__item {
    margin-right: 80px;
    margin-bottom: 60px;
    width: 245px;

    &:nth-child(even) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .main-catalog__feature {
    margin: 0 auto;
    padding-bottom: 7px;
  }

  .main-catalog__value {
    width: 70px;
  }

  .main-catalog__image {
    width: 245px;
    height: 208px;
  }

  .main-catalog__button {
    width: 170px;
  }
}
