.page-main__promo {
  margin-bottom: 20px;
}

.page-main__categories {
  margin-bottom: 12px;
}

.page-main__advantages {
  margin-bottom: 45px;
}

.page-main__additional-catalog {
  margin-bottom: 32px;
}

.page-main__program {
  margin-bottom: 32px;
}

@media (min-width: $tabletWidth) {
  .page-main__categories {
    margin-bottom: 45px;
  }

  .page-main__additional-catalog {
    margin-bottom: 75px;
  }

  .page-main__program {
    margin-bottom: 72px;
  }
}

@media (min-width: $desktopWidth) {
  .page-main__categories {
    margin-bottom: 75px;
  }

  .page-main__advantages {
    margin-bottom: 70px;
  }

  .page-main__additional-catalog {
    margin-bottom: 90px;
  }

  .page-main__program {
    margin-bottom: 85px;
  }
}
