.page-footer__wrapper {
  padding-top: 38px;
  padding-bottom: 23px;

  color: $colorTextLight;

  background-color: $colorBackground;
}

.page-footer__container {
  text-align: center;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 28px;
  vertical-align: middle;
}

.page-footer__logo[href]:hover,
.page-footer__logo[href]:focus {
  opacity: 0.8;
}

.page-footer__logo[href]:active {
  opacity: 0.6;
}

.page-footer__social {
  margin-bottom: 22px;
}

@media (min-width: $tabletWidth) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__wrapper {
    padding-top: 65px;
    padding-bottom: 45px;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-top: -5px;
    margin-left: 16px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktopWidth) {
  .page-footer__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-footer__copyright {
    margin-top: -5px;
  }
}
