@media (min-width: $desktopWidth) {
  .page--background {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      z-index: -10;
      left: calc(50% + 40px);
      right: 0;

      height: 695px;

      background-color: $colorAccent;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 680px 696px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}
