.program {
  padding-top: 15px;
}

.program__title {
  margin-bottom: 35px;

  font-family: $fontHeader;
  font-size: 36px;
  line-height: 60px;
  color: $colorTextDark;
}

.program__intro {
  margin-bottom: 40px;

  font-family: $fontHeader;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.program__fieldset {
  padding-top: 20px;
  padding-bottom: 20px;

  border: none;

  &--cat-info {
    padding-top: 0;
  }

  &--goal {
    margin-bottom: 30px;

    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  &--contacts {
    padding-top: 30px
  }
}

.program__legend {
  margin-top: 30px;

  font-family: $fontHeader;
  font-size: 24px;
  line-height: 24px;
  color: $colorTextDark;
}

.program__list {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  list-style: none;
}

.program__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__label {
  font-family: $fontHeader;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $colorTextDark;

  &--input {
    margin-right: 10px;
  }
}

.program__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  font-family: $fontHeader;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $colorTextLight;

  border: 1px solid #e6e6e6;

  &::placeholder {
    color: $colorTextLight;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;

    border: 2px solid #444444;
  }

  &--email,
  &--phone {
    padding-right: 45px;
  }
}

.program__radio {
  margin-right: 11px;
}

.program__textarea {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  width: 280px;
  min-height: 150px;

  font-family: $fontHeader;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $colorTextLight;

  border: 1px solid #e6e6e6;

  &::placeholder {
    color: $colorTextLight;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 14px;
    padding-right: 14px;

    border: 2px solid #444444;
  }
}

.program__checkbox {
  margin-right: 11px;
}

.program__button {
  margin-bottom: 20px;
  width: 280px;
}

.program__note {
  display: block;
  margin: 0 auto;

  font-family: $fontText;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $colorTextLight;
}

.program__note sup {
  font-size: 14px;
}

@media (min-width: $tabletWidth) {
  .program__textarea {
    width: 630px;
  }

  .program__button {
    width: 284px;
  }

  .program__note {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (min-width: $desktopWidth) {
  .program__wrapper {
    display: flex;
    margin: 0 auto;
    width: 1220px;
  }

  .program__textarea {
    width: 1220px;
  }

  .program__button {
    width: 570px;
  }
}
