.promo {
  min-height: 300px;

  text-align: center;
  color: #ffffff;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 320px 305px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__container {
  padding-top: 25px;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-family: $fontHeader;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  display: block;
  margin-bottom: 28px;

  font-family: $fontHeader;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 280px;
  height: 270px;
}

.promo__link {
  width: 280px;
}

@media (min-width: $tabletWidth) {
  .promo {
    text-align: left;
    color: $colorTextDark;

    background-image: none;
  }

  .promo__container {
    position: relative;

    margin-top: 30px;
    padding-top: 0;
    padding-left: 89px;
    min-height: 790px;
  }

  .promo__title {
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
  }

  .promo__slogan {
    margin-bottom: 45px;

    font-size: 20px;
    line-height: 20px;
  }

  .promo__image {
    position: absolute;
    z-index: -1;
    top: 201px;
    left: 0;

    width: 709px;
    height: 609px;
  }

  .promo__link {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 245px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktopWidth) {
  .promo__container {
    margin-top: 105px;
    margin-bottom: 100px;
    padding-left: 80px;
    min-height: 450px;
  }

  .promo__title {
    width: 500px;
  }

  .promo__slogan {
    margin-bottom: 50px;
    width: 500px;
  }

  .promo__image {
    top: -85px;
    left: calc(50% - 160px);

    width: 552px;
    height: 499px;
  }
}
