.show-more {
  padding-top: 80px;
  padding-bottom: 25px;

  text-align: center;

  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 28px;
  background-size: 30px 30px;
}

.show-more__title {
  margin: 0;
  margin-bottom: 7px;

  font-family: $fontHeader;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.show-more__text {
  margin: 0;
  margin-bottom: 22px;

  font-family: $fontText;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $colorTextLight;
}

.show-more__button {
  width: 280px;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tabletWidth) {
  .show-more {
    padding-top: 160px;

    background-image: url("../img/icon-plus.svg");
    background-position: center 53px;
    background-size: 60px 60px;
  }

  .show-more__title {
    margin: 0 auto;
    margin-bottom: 28px;
    width: 142px;

    font-size: 20px;
  }

  .show-more__text {
    margin: 0 auto;
    margin-bottom: 90px;
    width: 175px;

    font-size: 16px;
  }

  .show-more__button {
    width: 250px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktopWidth) {
  .show-more {
    padding-top: 162px;
  }

  .show-more__button {
    width: 170px;
  }
}
