.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  text-align: center;

  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-family: "OswaldMedium", "Arial", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorTextDark;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tabletWidth) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 516px;
  }

  .site-list__item {
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        left: 0;
        right: 0;
        bottom: 13px;

        height: 2px;

        background-color: $colorAccent;
      }
    }
  }

  .site-list__item,
  .site-list__item:last-child {
    border: none;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.5px;
  }
}

@media (min-width: $desktopWidth) {
  .site-list {
    width: 570px;

    &--white {
      .site-list__item--active::after {
        background-color: #ffffff;
      }

      .site-list__link {
        color: #ffffff;
      }
    }
  }

  .site-list__item {
    margin-left: 32px;

    &--active::after {
      background-color: $colorAccent;
    }
  }

  .site-list__link {
    font-size: 20px;
  }
}
