.site-list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  border-top: 1px solid #e6e6e6;
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  display: block;

  font-family: OswaldMedium, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $colorTextDark;
}

.site-list__link[href]:hover,
.site-list__link[href]:focus {
  opacity: 0.6;
}

.site-list__link[href]:active {
  opacity: 0.3;
}

@media (min-width: $tabletWidth) {
  .site-list {
    display: flex;
    justify-content: flex-end;
  }

  .site-list__item,
  .site-list__item:last-child {
    border: none;
  }
}

