.social {
  padding-top: 22px;
  padding-bottom: 22px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  &:hover,
  &:focus {
    .social__image {
      fill: $colorAccent;
    }
  }

  &:active {
    .social__image {
      opacity: 0.3;
    }
  }
}

.social__image {

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--ig {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tabletWidth) {
  .social {
    border: none;
  }
}
