.social {
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: inline-block;
  vertical-align: middle;

  color: #444444;

  &:hover,
  &:focus {
    color: $colorAccent;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}

.social__image {
  &--vk-mobile {
    width: 22px;
    height: 12px;
  }

  &--insta-mobile {
    width: 16px;
    height: 16px;
  }

  &--fb-mobile {
    width: 10px;
    height: 19px;
  }

  &--vk-tablet,
  &--insta-tablet,
  &--fb-tablet {
    display: none;
  }
}

@media (min-width: $tabletWidth) {
  .social {
    padding: 0;

    border: none;
  }

  .social__item {
    margin-right: 28px;
  }

  .social__image {
    &--vk-mobile,
    &--insta-mobile,
    &--fb-mobile {
      display: none;
    }

    &--vk-tablet,
    &--insta-tablet,
    &--fb-tablet {
      display: inline;
    }

    &--vk-tablet {
      width: 30px;
      height: 16px;
    }

    &--insta-tablet {
      width: 23px;
      height: 23px;
    }

    &--fb-tablet {
      width: 14px;
      height: 28px;
    }
  }
}
