.social {
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  &:hover,
  &:focus {
    .social__image {
      fill: $colorAccent;
    }
  }

  &:active {
    .social__image {
      opacity: 0.3;
    }
  }
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__image {
  &--vk {
    width: 22px;
    height: 12px;
  }

  &--ig {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tabletWidth) {
  .social {
    padding: 0;

    border: none;
  }

  .social__item {
    margin-right: 28px;
  }

  .social__image {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
