$colorAccent:     #68b738;
$colorBackground: #f2f2f2;
$colorTextLight:  #444444;
$colorTextDark:   #111111;

$fontHeader: "oswaldregular", "arial", sans-serif;
$fontText:   "arial", sans-serif;

$tabletWidth: 768px;
$desktopWidth: 1300px;
$mobileWidthOnly: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
